// COLORS
$black: #222222;
$white: #ffffff;
$info: blue;
$success: green;
$warning: orange;
$danger: red;
$primary: #650f3c;
$secondary: #575756;
$third: #dcd393;

// FONTS
$primaryFont: arial, sans-serif;
